.footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 97%;
    background-color: #545454;
    padding: 20px;
}

.footer__left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}



.footer__green{
    color: #1ed15e;
}

.footer__songinfo > h4 {
    margin-bottom: 5px;
}

.footer__songinfo > p{  
    font-size: 12px;
}

.footer__albumlogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}

.footer__center{
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__right * .MuiSlider-root {
    color:#1ed15e;
}

.footer__green:hover,
.footer__icon:hover{
    transition: transform 0.2s ease-in-out !important;
    transform: scale(1.2) !important;
}

.footer__right{
    flex:0.3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}